<!-- 
Pesquisar: Expression Utility Objects

#string -> objeto utilitário para expressões que possue vários métodos para manipular strings;
||      -> literal substitutions, can replace the method of the utilitarian expression #strings.concat();
 -->

<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>

	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Lista de Cargos</span>
	                    </li>
	                </ul>
	            </div>
	            <a class="btn btn-primary btn-md" th:href="@{/cargos/cadastrar}" role="button">
	                <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                <span>Novo Cargo</span>
	            </a>
	        </nav>
	
	        <div class="container" id="listagem">
	        
	        	<div th:replace="fragments/alert"></div>
	        
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
		                    <tr>
		                        <th>#</th>
		                        <th>
		                        	<a class="text-dark" th:href="@{/cargos/listar(page=${pageCargo.pagina}, dir=desc) }" >
		                        		<span class="oi oi-arrow-top"></span>
		                        	</a>
		                        	Cargo
		                        	<a class="text-dark" th:href="@{/cargos/listar(page=${pageCargo.pagina}, dir=asc) }" >
		                        		<span class="oi oi-arrow-bottom"></span>
		                        	</a>
		                        </th>
		                        <th>Departamento</th>
		                        <th>Ação</th>
		                    </tr>
	                    </thead>
	                    
	                    <tbody>
		                    <tr th:each="cargo : ${pageCargo.registros}">
		                        <td th:text="${cargo.id}">1</td>
		                        <td th:text="${cargo.nome}">Auxiliar Contábil</td>
		                        <td th:text="${cargo.departamento.nome}">Contabilidade</td>
		                        
		                        <td colspan="2">
		                            <a class="btn btn-info btn-sm" th:href="@{'/cargos/editar/' + ${cargo.id} }" role="button">
		                                <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                            </a>
		                            
		                            <button type="button" class="btn btn-danger btn-sm" th:id="${#strings.concat('btn_cargos/deletar/', cargo.id) }"
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão desabilitada" aria-hidden="true"></span>
		                            </button>
		                        </td>
		                    </tr>
	                    </tbody>
	                </table>
	                
	                <nav aria-label="Navegação de página exemplo">
					 	<ul class="pagination justify-content-center">
					 		<li class="page-item" th:classappend="${pageCargo.pagina == 1 ? 'disabled' : '' }">
						      	<a class="page-link" th:href="@{/cargos/listar(page=${1}, dir=${pageCargo.direcao}) }" tabindex="-1">
									<span class="oi oi-media-skip-backward" title="Primeira Página" aria-hidden="true"></span>
								</a>
						    </li>
					 		
						    <li class="page-item" th:classappend="${pageCargo.pagina == 1 ? 'disabled' : '' }">
						      	<a class="page-link" th:href="@{/cargos/listar(page=${pageCargo.pagina - 1}, dir=${pageCargo.direcao}) }" tabindex="-1">Anterior</a>
						    </li>
						    
						    <li class="page-item">
						    	<span class="page-link" th:text="|${pageCargo.pagina} de ${pageCargo.totalPaginas}|">paginaAtual de totalPaginas</span>
						    </li>
						    
						    <li class="page-item" th:classappend="${pageCargo.pagina == pageCargo.totalPaginas ? 'disabled' : '' }">
						      	<a class="page-link" th:href="@{/cargos/listar(page=${pageCargo.pagina + 1}, dir=${pageCargo.direcao}) }">Próximo</a>
						    </li>
						    
						    <li class="page-item" th:classappend="${pageCargo.pagina == pageCargo.totalPaginas ? 'disabled' : '' }">
						      	<a class="page-link" th:href="@{/cargos/listar(page=${pageCargo.totalPaginas}, dir=${pageCargo.direcao}) }" tabindex="-1">
						      		<span class="oi oi-media-skip-forward" title="Última Página" aria-hidden="true"></span>
						      	</a>
						    </li>
					  	</ul>
					</nav>
	            </div>
	        </div>
	        
	        <div th:replace="fragments/modal :: modal"></div>
	        
	    </section>
</body>
</html>		