<!-- 
	Fragmento para mensagens de alerta de operações de salvamento, edição e exclusão.
	
	Uso do alert do bootstrap, onde:
	
	alert-dismissible -> adiciona padding e posições para o botão de close;
	data-dismiss	  -> adiciona um chamador da funcionalidade de dar um dismiss no alerta
 -->

<div th:if="${success} != null">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<i class="oi oi-check"></i>
		<span>
			<strong th:text="${success}"></strong>
		</span>
  		
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    		<span aria-hidden="true">&times;</span>
  		</button>
	</div>
</div>

<div th:if="${fail} != null">
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<i class="oi oi-circle-x"></i>
		<span>
			<strong th:text="${fail}"></strong>
		</span>
  		
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    		<span aria-hidden="true">&times;</span>
  		</button>
	</div>
</div>


<!-- Uma forma de exibir mensagene. A outra forma é o uso do #fields em fragments/validation -->

<div th:if="${errors} != null">
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		
		<div th:each="error : ${errors}">
			<i class="oi oi-warning"></i>
			<span th:text="${error.defaultMessage }">Descrição erro</span>
	  	</div>
  		
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    		<span aria-hidden="true">&times;</span>
  		</button>
	</div>
</div>